{
  "extends": [
    "eslint-config-airbnb-base/legacy",
    "eslint-config-airbnb-base/rules/strict"
  ],
  "rules": {
    "max-len": ["warn", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-param-reassign": ["error", { "props": false }]
  }
}
