# More options: https://docs.npmjs.com/misc/config

# Dependencies saved to package.json will be configured with an exact version
# rather than using npm's default semver range operator.
save-exact=true
